@{
    ViewData["Title"] = "Gizlilik Politikasý";
}

<h1>@ViewData["Title"]</h1>

<p>Bu sayfa, Öðrenci Bilgi Sistemi'nin gizlilik politikasýný içerir.</p>
<p>Tüm verileriniz güvenli bir þekilde saklanmaktadýr ve yetkisiz kiþilerle paylaþýlmamaktadýr.</p>
